# Byte-compiled / optimized / DLL files

# Virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# macOS
.DS_Store



*.*~
.DS_Store
__pycache__/
*.py[cod]
*.rem
.ipynb_checkpoints/
.ipynb_checkpoints/batchProcess-checkpoint.py
